body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
body, html {
    height: 100%;
    line-height: 1.8;
}
/* Full height image header */
.parallaxHero {
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/mac.jpg");
    height: 600px;
    width: 100%;
}
.parallax {
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/gypsum.jpg");
    height: 400px;
    width: 100%;
}
/* Full height image header */
.bgimg2 {
    background-position: center;
    background-size: cover;
    background-image: url("../images/laptop.jpg");
    height: 600px;
    width: 100%;
}
/* Full height image header */
.bgimg3 {
    background-position: center;
    background-size: cover;
    background-image: url("../images/cpu.jpg");
    height: 200px;
    width: 100%;
}
.table {
    display: table;
}
.row {
    display: table-row;
}
.cell {
    display: table-cell;
}
.hundred {
    width: 100%;
}
.v-align {
    vertical-align: middle;
}
.capitalize {
    text-transform: uppercase;
}
