body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
body, html {
    height: 100%;
    line-height: 1.8;
}
/* Full height image header */
.bgimg1 {
    background-position: center;
    background-size: cover;
    background-image: url("../images/mac.jpg");
    height: 600px;
    width: 100%;
}
/* Full height image header */
.bgimg2 {
    background-position: center;
    background-size: cover;
    background-image: url("../images/laptop.jpg");
    height: 600px;
    width: 100%;
}
/* Full height image header */
.bgimg3 {
    background-position: center;
    background-size: cover;
    background-image: url("../images/cpu.jpg");
    height: 600px;
    width: 100%;
}
