version: "2"
services:
    nginx:
        container_name: nginx
        build:
            context: ./nginx
        ports:
            - 80:80
        links:
            - node
            - mongo
        volumes:
            - ./src/public:/var/www/html/public
    node:
        container_name: node
        build:
            context: ./node
        links:
            - mongo
            - redis
        volumes:
            - ./src:/var/www/html
        environment:
            - PASSWORD=
            - APITOKEN=
            - AWS_ACCESS_KEY_ID=
            - AWS_SECRET_ACCESS_KEY=
    mongo:
        container_name: mongo
        image: mongo
        ports:
            - 27017:27017
        volumes:
          - ./data:/data/db
        environment:
          - MONGO_INITDB_ROOT_USERNAME=
          - MONGO_INITDB_ROOT_PASSWORD=
    redis:
        container_name: redis
        image: redis:latest
