version: "2"
services:
    nginx:
        container_name: nginx
        build:
            context: ./nginx
        ports:
            - 80:80
        links:
            - express
            - mongo
        volumes:
            - ./src/public:/var/www/html/public
    express:
        container_name: express
        build:
            context: ./express
        links:
            - mongo
        volumes:
            - ./src:/var/www/html
    mongo:
        container_name: mongo
        image: mongo
        ports:
            - 27017:27017
